.mat-paginator-sticky {
  bottom: 0px;
  left: 0px;
  position: sticky;
  z-index: 10;
}

.mat-column {
  &-actions {
    width: 100px;
  }

  &-description {
    min-width: 200px;
  }

  &-status {
    width: 105px;
  }

  &-type {
    width: 105px;
  }

  &-price {
    width: 105px;
  }

  &-number {
    width: 105px;
  }
}

.sticky-right {
  position: sticky;
  right: 0;
  z-index: 1;
}
