<div class="h-full flex flex-col">

  <app-menu-table-rooms (onMenuOptionClick)="menuOptionClick($event)"></app-menu-table-rooms>
  <app-search-bar (onChanges)="onChangesSearchTerm($event)"></app-search-bar>

  <div class="table__wrapper grow overflow-auto">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 max-h-full">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Id.
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Habitación
        </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Tipo
        </th>
        <td mat-cell *matCellDef="let element"> {{element.type | translate}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Estado
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="statusClasses[element.status]" class="text-center status"> {{element.status | translate}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerNight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Precio
        </th>
        <td mat-cell *matCellDef="let element" class="text-right"> {{element.pricePerNight | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Descripción
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="features">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Características
        </th>
        <td mat-cell *matCellDef="let element"> {{element.features | arrayToString}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header >
          Creado
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'M-d-yy, h:mm a'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <th mat-header-cell *matHeaderCellDef >
          Acciones
        </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <mat-icon #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menuComponent.menu" [matMenuTriggerData]="{element}" (click)="onMenuClick($event, element)">more_horiz</mat-icon>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell p-3" [attr.colspan]="displayedColumns.length">
          No se encontraron registros
        </td>
      </tr>
    </table>

    <mat-paginator
      class="mat-paginator-sticky"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>
  </div>

</div>
