<app-loader *ngIf="loading$ | async"></app-loader>

<div class="h-full" [hidden]="(loading$ | async)">
  <app-table-rooms
    [rooms]="(rooms$ | async ) || []"
    (onMenuOptionClick)="onMenuOptionClick($event)">
  </app-table-rooms>

  <app-dialog
    *ngIf="view == 'delete'"
    [type]="'confirmation'"
    [title]="'Eliminar Habitación'"
    [message]="'¿Está seguro que quiere eliminar la habitación ' + selectedRoom?.number + '?'"
    (closeModal)="changeView('home')"
    (confirmModal)="onConfirmDeleteRoom()">
  </app-dialog>
</div>

