@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --background: whitesmoke;
  --yellow: #f6fa8f;
  --blue: #4fc3f7;
  --green: #91f8bb;
  --red: #ed4079;
  --orange: #f7b731;
  --white: whitesmoke;
}
